body {
    background-image: url("../images/lakersbackground.jpg");
}

#container {
    width: 60%;
    background: purple;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
    opacity: .75;
    border: goldenrod;
    border-width: 5px;
    border-style: solid;
}